doctype html
html(lang="fr")
    head
        title Mainteo-app
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="description" content="")
        link(rel="stylesheet" href="./bootstrap.min.css")
        link(rel="stylesheet" href="./style.css")
    .section.row
        include ./component/container1Context
    .section
        include ./component/container2Difficulty
    .section
        include ./component/container3Question
    .section
        include ./component/container4Answer
