.section {
    height: 100vh;
    position: relative;
}

.section:nth-child(1) {
    background: #b6916d;
}
.section:nth-child(2) {
    background: #bcb8ad;
}
.section:nth-child(3) {
    background: #b69187;
}
.section:nth-child(4) {
    background: #3c564f;
}


.test{
    position: relative;
    width: 100%;
    height: 100%;
}

.test svg{
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    height: 50%;
}
